@import "variables";
@import "mixins";

.btn-top {
	display: inline-block;
	width: 100%;
    padding: 1rem 0rem;
    text-align: center;
	background-color: $blue;
	color: $white;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	@include transition(0.5s);
	&:hover {
		background-color: darken($blue, 10);
		@include transition(0.5s);
	}
}
.btn {
	display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 0px;
	background-color: transparent;
	color: $blue;
	border: 3px solid;
	border-color: $blue;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	@include transition(0.5s);
	&:hover {
		background-color: $blue;
		color: $white;
		@include transition(0.5s);
	}
}
