@import "susy";
@import "breakpoint";
@import "variables";
@import "mixins";
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic';

//Susy settings
$susy: (
  columns: 12,
  gutter-position: inside,
  gutters: 0,
  math: fluid,
  output: float,
);

nav {
	background-color: $gray;
	
	//padding-top: 1rem;
	//padding-bottom: 1rem;
	.main-nav {
		@include span(9);
		@include breakpoint($tablet) {
			@include span(12);
			//position: fixed;
			z-index: 1000;
		}
		.nav-toggle {
			padding-left: 0.5rem;
			@include transition(0.5s);
			@include breakpoint($tablet) {
				max-height: 0;
				overflow: hidden;
				padding-left: 0;
			}
			li {
				position: relative;
				padding: 1rem 0.5rem 1rem 0.5rem;
				display: inline-block;
				@include transition(0.5s);
				cursor: pointer;
				@include breakpoint($tablet) {
					display: block;
					text-align: center;
				}
				a {
					text-decoration: none;
					color: #FFF;
				}
				&:after {
					position: absolute;
					content: "";
					width: 0%;
					background-color: $blue;
					height: 3px;
					display: block;
					bottom: 0;
					left: 0;
					@include transition(0.5s);
				}
				&:hover {
					background-color: #FFF;
					@include transition(0.5s);
					a {
						color: $blue;
					}
					&:after {
						width: 100%;
						@include transition(0.5s);
					}
				}
			}
			.nav-mobile {
				display: none;
				@include breakpoint($tablet) {
					display: block;
					text-align: center;
				}
			}
		}
		.nav-collapse {
			background-color: transparent;
			color: $gray;
			cursor: pointer;
			display: none;
			position: absolute;
			top: 15px;
			right: 30px;
			margin-top: 148px;
			margin-right: 9px;
			#nav-icon {
			  width: 40px;
			  height: 25px;
			  position: relative;
			  margin: 0px auto;
			  z-index: 1000;
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: .5s ease-in-out;
			  -moz-transition: .5s ease-in-out;
			  -o-transition: .5s ease-in-out;
			  transition: .5s ease-in-out;
			  cursor: pointer;
			  @include breakpoint($phone) {
			  	top: 130px;
			  }
			}
			#nav-icon span {
			  display: block;
			  position: absolute;
			  height: 5px;
			  width: 50%;
			  background: $blue;
			  opacity: 1;
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: .25s ease-in-out;
			  -moz-transition: .25s ease-in-out;
			  -o-transition: .25s ease-in-out;
			  transition: .25s ease-in-out;
			}

			#nav-icon span:nth-child(even) {
			  left: 50%;
			  border-radius: 0 0 0 0;
			}

			#nav-icon span:nth-child(odd) {
			  left:0px;
			  border-radius: 0 0 0 0;
			}

			#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
			  top: 0px;
			}

			#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
			  top: 10px;
			}

			#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
			  top: 20px;
			}

			#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
			  -webkit-transform: rotate(45deg);
			  -moz-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
			  transform: rotate(45deg);
		      background: $ftr-logo;
			}

			#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
			  -webkit-transform: rotate(-45deg);
			  -moz-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			    background: $ftr-logo
			}

			#nav-icon.open span:nth-child(1) {
			  left: 4px;
			  top: 7px;
			  background: $ftr-logo
			}

			#nav-icon.open span:nth-child(2) {
			  left: calc(50% - 5px);
			  top: 7px;
			  background: $ftr-logo
			}

			#nav-icon.open span:nth-child(3) {
			  left: -50%;
			  opacity: 0;
			  background: $ftr-logo
			}

			#nav-icon.open span:nth-child(4) {
			  left: 100%;
			  opacity: 0;
			  background: $ftr-logo
			}

			#nav-icon.open span:nth-child(5) {
			  left: 4px;
			  top: 18px;
			  background: $ftr-logo
			}

			#nav-icon.open span:nth-child(6) {
			  left: calc(50% - 5px);
			  top: 18px;
			  background: $ftr-logo
			}
		}
		@include breakpoint($tablet) {
			.nav-collapse {
				display: block;
			}
			.showing {
				max-height: 30em;
				@include transition(0.5s);
			}
			.nav-toggle {
				display: block;
			}
		}
	}
	.search {
		@include span(3);
		@include breakpoint($tablet) {
			display: none;
		}
		text-align: right;
		position: relative;
		padding-top: 10px;
		input {
			border: none;
			padding: 6px;
			margin-right: 21px;
			outline-style: none;
			height: 32px;
		}
		.search-logo {
			position: absolute;
		    top: 10px;
		    right: 0;
			background-color: #FFF;
    		padding: 4px 6px 5px 0;
    		height: 32px;
    		i {
    			color: $gray;
    		}
		}
	}
}