// Color Palette
$blue: #1d3f55;
$gray: #252525;
$white: #fff;
$black: #000;
$lg: #f6f6f6;
$font: #232829;
$ftr: #1e1e1e;
$ftr-logo: #7c7c7c;
$ftr-text: #ebebeb;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);